body{
    background-color:rgb(188, 193, 241);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0px;
    padding:20px
}

h1{
    color:black;
    font-family: Arial, sans-serif;
    font-size: 3.7rem;
}

#result{
    color: black;
    background-color: grey;
    margin: 0px;
    padding: 40px;
}

table{
    border-collapse: separate;
    border-spacing: 20px;
    table-layout: fixed;
    width: 1000%;
    border: 1px, solid, #444;
    border-radius: 2px;
    border-width: thick;
    background-color: #2c2c2c;;
    max-width: 400px;
    margin-left: auto;
    margin-right:auto;
}

tr{
    display: flex;
    justify-content: space-around;
    padding: 1px;
    align-items: center;
}

input[type="button"]{
    background-color:rgb(131, 106, 106);
    position: static;
    height: 50px;
    width:70px;
    padding: 0px;
    border: solid, black, 2px;
    font-family: Arial, sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    transition-property: none;
}

input[type="button"]: hover{
    background-color: #555;
    transition: 0.7s;
    transform: scale(1.1);
}

input[type="button"]: active{
    background-color: rgb(96, 76, 76);

}